# -*- mode: conf -*-
## A basic gitconfig for my default user.
[user]
    name		= Stephen Smoogen
    email		= ssmoogen@redhat.com
    signingkey		= 0xF20A1093D7840F95

[push]
    default		= current

[pull]
    rebase		= true

[color]
    diff		= auto
    status		= auto
    branch		= auto
    interactive		= auto
    ui			= true

[core]
    excludesfile	= $HOME/.gitignore_global

[branch]
    autosetuprebase	= always

[apply]
    whitespace		= fix
 
[rebase]
    autoStash		= true

[gpg]
    program		= gpg2

[init]
    defaultBranch	= main

[alias]
    lol                 = log --graph --decorate --pretty=oneline --abbrev-commit --abbrev=10
    lol2		= log --graph --format='%h %s (%an)'
    lola		= log --graph --decorate --pretty=oneline --abbrev-commit --abbrev=10 --all
    d			= diff --src-prefix='a/ ' --dst-prefix='b/ '
    s			= status --short
    pr			= pull --rebase
    ca			= commit --amend
    can			= commit --amend --no-edit
    unadd		= reset HEAD
    cdiff		= diff --color-words
    lst                 = ls-tree --abbrev=10 HEAD
    logp		= log -p
    logs		= log --stat
    logf		= log --format=fuller
